@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;0,800;1,500&family=Work+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* 
font-family: 'Poppins', sans-serif;

font-family: 'Work Sans', sans-serif; 

font-family: 'Great Vibes', cursive;
*/


*{
    margin: 0;
    padding: 0;

}
.container{
    width: 100%;
    height: 800px;
}
.grid {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 50px;
    justify-content: center;
    margin-top: 20%;
    
  }
  .item1{
    font-family: 'Work Sans', sans-serif; 
    animation-name: Slatter;
    animation-fill-mode: forwards;
    animation-timing-function: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .item2{
    font-family: 'Work Sans', sans-serif; 
    animation-name: hlatter;
    animation-fill-mode: forwards;
    animation-timing-function: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .item3{
    font-family: 'Work Sans', sans-serif; 
    animation-name: rlatter;
    animation-fill-mode: forwards;
    animation-timing-function: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .item4{
    font-family: 'Work Sans', sans-serif; 
    animation-name: ilatter;
    animation-fill-mode: forwards;
    animation-timing-function: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .item5{
    font-family: 'Work Sans', sans-serif; 
    animation-name: glatter;
    animation-fill-mode: forwards;
    animation-timing-function: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .item6{
    font-family: 'Work Sans', sans-serif; 
    animation-name: alatter;
    animation-fill-mode: forwards;
    animation-timing-function: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .item7{
    font-family: 'Work Sans', sans-serif; 
    animation-name: nlatter;
    animation-fill-mode: forwards;
    animation-timing-function: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .item8{
    font-family: 'Work Sans', sans-serif; 
    animation-name: elatter;
    animation-fill-mode: forwards;
    animation-timing-function: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .item9{
    font-family: 'Work Sans', sans-serif; 
    animation-name: sslatter;
    animation-fill-mode: forwards;
    animation-timing-function: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .item10{
    font-family: 'Work Sans', sans-serif; 
    animation-name: hhlatter;
    animation-fill-mode: forwards;
    animation-timing-function: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }


/* S */
  @keyframes Slatter{
    from{
        color:rgba(0, 0, 0,0);
        font-size: 50px;
        transform:translateX(-200px)rotateZ(360deg);
    }
    to{
        color: rgb(130, 7, 245);
        font-size: 60px;
        transform:translateX(0) rotateZ(0deg);
    }
}
/* H */

    @keyframes hlatter{
        from{
            color:rgba(0, 0, 0,0);
            font-size: 50px;
            transform:translateY(200px);
        }
        to{
            color: rgb(123, 21, 218);
            font-size: 60px;
            transform:translateY(0) rotateZ(360deg);
        }
  }
/* R */
  @keyframes rlatter{
    from{
        color:rgba(0, 0, 0,0);
        font-size: 50px;
        transform:translateY(-200px) rotateZ(-90deg);
    }
    to{
        color: rgb(88, 61, 114);
        font-size: 60px;
        transform:translateY(0) rotateY(0);
    }
}
/* i */
@keyframes ilatter{
    from{
        color:rgba(0, 0, 0,0);
        font-size: 50px;
        transform: rotateZ(-120deg);
    }
    to{
        color: rgb(79, 53, 104);
        font-size: 60px;
        transform: rotateY(0);
    }
}

/* G */
@keyframes glatter{
    0%{
        color:rgba(0, 0, 0,0);
        font-size: 50px;

        transform: translateY(-300px);
    }
    50%{
        color: rgb(197, 223, 52);
        font-size: 60px;
        font-family: 'Great Vibes', cursive;
        transform: translateY(70px);
    }
    100%{
        color: rgb(223, 100, 52);
        font-size: 60px;
        font-family: 'Great Vibes', cursive;
        transform: translateY(0);
    }
}
/* a */
@keyframes alatter{
    from{
        color:rgba(0, 0, 0,0);
        font-size: 50px;

        transform: rotateZ(360deg);
    }
    to{
        color: rgb(223, 100, 52);
        font-size: 60px;
        font-family: 'Great Vibes', cursive;
        transform: rotateY(0);
    }
}
/* n */
@keyframes nlatter{
    0%{
        color:rgba(0, 0, 0,0);
        font-size: 50px;

        transform: translateY(-300px);
    }
    50%{
        color: rgb(197, 223, 52);
        font-size: 60px;
        font-family: 'Great Vibes', cursive;
        transform: translateY(70px);
    }
    100%{
        color: rgb(223, 100, 52);
        font-size: 60px;
        font-family: 'Great Vibes', cursive;
        transform: translateY(0);
    }
}
/* E */
@keyframes elatter{
    0%{
        color:rgba(0, 0, 0,0);
        font-size: 50px;

        transform: translate(0,-300px);
    }
    
    25%{
        color: rgb(202, 32, 69);
        font-size: 60px;
        font-family: 'Great Vibes', cursive;
        transform: translate(0px,100px);
    }
    
    
    50%{
        color: rgb(89, 52, 223);
        font-size: 60px;
        font-family: 'Great Vibes', cursive;
        transform: translate(100px,100px);
    } 
    75%{
        color: rgb(192, 223, 52);
        font-size: 60px;
        font-family: 'Great Vibes', cursive;
        transform: translate(100px,-100px);
    } 
    80%{
        color: rgb(236, 29, 184);
        font-size: 60px;
        font-family: 'Great Vibes', cursive;
        transform: translate(-10px,-100px);
    } 
    100%{
        color: rgb(223, 100, 52);
        font-size: 60px;
        font-family: 'Great Vibes', cursive;
        transform: translate(0px,0px);
    } 
}
/* ss */
@keyframes sslatter{
    0%{
        color:rgba(148, 12, 12, 0.979);
        font-size: 50px;

        transform: translate(0px,300px) rotate(360deg);
    }
    
    50%{
        color: rgb(223, 52, 103);
        font-size: 60px;
        font-family: 'Great Vibes', cursive;
         transform: translate(0px,-50px); 
    }
    100%{
        color: rgb(223, 52, 103);
        font-size: 60px;
        font-family: 'Great Vibes', cursive;
         /* transform: translate(0px,-50px);  */
    }
}
/* hh */
@keyframes hhlatter{
    0%{
        color:rgba(148, 12, 12, 0.979);
        font-size: 50px;

        transform: translate(300px,0px) rotate(360deg);
    }
    
    50%{
        color: rgb(81, 223, 52);
        font-size: 60px;
        font-family: 'Great Vibes', cursive;
         transform: translate(0px,-50px); 
    }
    100%{
        color: rgb(15, 217, 224);
        font-size: 60px;
        font-family: 'Great Vibes', cursive;
         /* transform: translate(0px,-50px);  */
    }
}